.lista-pranchas__botao-adcionar {
  position: fixed;
  bottom: 64px;
  right: 24px;
  cursor: pointer;
}

.lista-pranchas__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid var(--cor-cinza);
}
.lista-pranchas__item-informacoes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lista-pranchas__mensagem-vazia {
  text-align: center;
  margin-top: 32px;
  color: var(--cor-texto-padrao);
}